<!DOCTYPE html>
<html>
  <head>
    <title>Product Service</title>
    <link rel="stylesheet" href="/stylesheets/application.css" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<script src="http://code.jquery.com/jquery-latest.min.js" />
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="http://knockoutjs.com/downloads/knockout-3.1.0.js"></script>
  </head>
  <body>
	<div class="container">
		<div class="row">
			<div class="main-heading col-sm-12">
				All Meals
			</div>
			<div class="col-sm-6 row">
				<div class="col-sm-12">
					All meals on the menu:
				</div>
				<div class="col-sm-2" data-bind="foreach: meals">
					<span data-bind="text: $data.name"></span>
					<span data-bind="text: $data.price"></span>
					<span data-bind="text: $data.grams"></span>
				</div>
			</div>
			<div class="col-sm-6">
				Add a new meal:
				<form action="/addMeal" method="POST">
					<input class="form-control" name="name" placeholder="Name" />
					<input class="form-control" name="price" placeholder="Price" />
					<input class="form-control" name="grams" placeholder="grams" />
					<button class="btn btn-success" type="submit">Create Meal</button>
				</form>
			</div>
		</div>
	</div>
  </body>
</html>

<script>
	var vm = function() {
		var self = this;
		self.meals = ko.observableArray(JSON.parse('<%- JSON.stringify(meals) %>'));
	}
	
	ko.applyBindings(new vm());
</script>