<!DOCTYPE html>
<html>
  <head>
    <title>Product Service</title>
    <link rel="stylesheet" href="/stylesheets/application.css" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<script src="http://code.jquery.com/jquery-latest.min.js" />
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="http://knockoutjs.com/downloads/knockout-3.1.0.js"></script>
  </head>
  <body>
	<div class="container">
		<div class="row">
			<div class="main-heading col-sm-12">
				All Meals
			</div>
		</div>
	</div>
  </body>
</html>

<script>
	var vm = function() {
		var self = this;
		self.meals = ko.observableArray(JSON.parse('<%- JSON.stringify(meals) %>'));
	}
	
	ko.applyBindings(new vm());
</script>