<!DOCTYPE html>
<html>
  <head>
    <title>Product Service</title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
  </head>
  <body>
    <span>le product service</span>
  </body>
</html>