<!DOCTYPE html>
<html>
  <head>
    <title>Sales Service</title>
    <link rel="stylesheet" href="/stylesheets/application.css" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<script src="http://code.jquery.com/jquery-latest.min.js" />
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="http://knockoutjs.com/downloads/knockout-3.1.0.js"></script>
  </head>
  <body>
	<div class="container">
		<div class="row">
			<div class="main-heading col-sm-12">
				Welcome to The Swarm
			</div>
			<div class="menu" data-bind="foreach: products">
				<div class="menu-item col-sm-4" data-bind="click: $parent.selectProduct"><span data-bind="text: $data.name" /></div>
			</div>
			<div class="summary col-sm-12">
				<span data-bind="visible: selectedProducts().length == 0">Select your orders</span>
				<div data-bind="foreach: selectedProducts" class='order-items'>
					<div class="selected-menu-item" data-bind="click: $parent.deSelectProduct">
						<div class="col-sm-offset-5 col-sm-1">
							<span data-bind="text: $data.name" />
						</div>
						<div class="col-sm-1">
							<span data-bind="text: $data.price" />
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="col-sm-offset-5 col-sm-4">
					Total price: $<span data-bind="text: totalPrice()" />
				</div>
				<div class="col-sm-offset-4"></div>
				<div class="col-sm-offset-3 col-sm-3 btn btn-primary btn-lg" data-bind="click: reserveOrder">
					Reserve order
				</div>
				<div class="col-sm-3 btn btn-primary btn-lg" data-bind="click: placeOrder">
					Place order
				</div>
			</div>
		</div>
	</div>
  </body>
</html>

<script>
	var vm = function() {
		var self = this;
		self.products = ko.observableArray(JSON.parse('<%- JSON.stringify(products) %>'));
		self.selectedProducts = ko.observableArray([]);
		
		var productId = 0;
		
		self.selectProduct = function (product) {
			if(self.selectedProducts().length < 20) {
				self.selectedProducts.push({name: product.name, price: product.price});
			}
		}
		
		self.deSelectProduct = function (product) {
			var index = self.selectedProducts().indexOf(product);
			self.selectedProducts.splice(index, 1);
		}
		
		self.totalPrice = ko.computed(function () {
			var sum = 0.00;
			self.selectedProducts().forEach(function(product) {
				sum += parseFloat(product.price);
			});
			return sum;
		});
		
		self.reserveOrder = function () {
			console.log('reserve order');
		}
		
		self.placeOrder = function () {
			console.log('place order');
		}
	}
	
	ko.applyBindings(new vm());
</script>